<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harshit.tvdb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:background="?attr/selectableItemBackgroundBorderless"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MoviesListActivity"
            android:label="@string/movie_list" />
        <activity
            android:name=".Activities.NonInternetorErrorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_non_internet"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Activities.MovieDetailActivity"
            android:label="@string/Movie_Details" />
        <activity
            android:name=".Activities.TvListActivity"
            android:label="@string/tv_list" />
        <activity
            android:name=".Activities.TvDetailActivity"
            android:label="@string/tv_details" />
        <activity
            android:name=".Activities.RecommendedMoviesActivity"
            android:label="@string/recommended_movies" />
        <activity
            android:name=".Activities.CrewActivity"
            android:label="@string/crew_list" />
        <activity
            android:name=".Activities.TvSeasonEpisodesActivity"
            android:label="@string/tv_episodes" />
        <activity
            android:name=".Activities.SearchActivity"
            android:label="@string/search" />
        <activity
            android:name=".Activities.UpdateUserInfoActivity"
            android:label="@string/update_user"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        //Reference your App ID string//
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        // Add a Facebook Activity//
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.DashBoardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.YoutubeActivity"
         />
        <activity android:name=".Activities.ReleaseDateActivity"
            android:label="@string/release_date" />
        <activity android:name=".Activities.AlternativeTitleActivity"
            android:label="@string/tv_details" ></activity>
    </application>

</manifest>